.datacell-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 15px;
  border-bottom: 1px solid #22222205;
  font-size: 14px;
  
  .datacell-label {
    min-width: 40%;
    color: #D8D8D8;
    text-align: left;
  }

  .datacell-content {
    text-align: left;
  }
}