.button {
  color: #fff;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #22222210;
  border-radius: 8px;

  margin-right: 12px;
}

.button-primary {
  background-color: #26C281;
}

.button-secondary {
  background-color: #FF6448;
}
